<h1 class="text-center fw-bolder">Projects</h1>
<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill style="margin-left: 35px;" class="flexBox">
  <mat-card class="project-card">
    <mat-card-header class="headerBox">
      <mat-card-title>To-Do List Application</mat-card-title>
      <mat-card-subtitle>Manage tasks efficiently</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">
      <img src="/assets/ToDoList.png" alt="To-Do App" class="card-image"/>
    </mat-card-content>
    <mat-card-actions class="card-buttons">
      <a mat-raised-button href="https://github.com/ADITYAWEB42/TODO-LIST.git" target="_blank">Git Repo</a>
      <a mat-raised-button href="https://todolist-adiweb.netlify.app/" target="_blank">Live Demo</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="project-card">
    <mat-card-header class="headerBox">
      <mat-card-title>Counter Application</mat-card-title>
      <mat-card-subtitle>Simple and interactive counter</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">
      <img src="/assets/counter.png" alt="Counter App" class="card-image"/>
    </mat-card-content>
    <mat-card-actions class="card-buttons">
      <a mat-raised-button href="https://github.com/ADITYAWEB42/pure-js-counter-app.git" target="_blank">Git Repo</a>
      <a mat-raised-button href="https://counter-aditya.netlify.app/" target="_blank">Live Demo</a>
    </mat-card-actions>
  </mat-card>
</div>
