.home-container {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    // background-color: #f5f5f5; /* Light background for contrast */
    // background-image: url("/assets/AdityaBG.jpg");
    // background-size: cover;
    // background-position: center;
}

.home-card {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 24px;
    text-align: center;
    box-sizing: border-box;
    background-color: #fff; /* White background for card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 8px; /* Rounded corners */
}

.profile-section {
    margin-bottom: 24px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #3f51b5; /* Blue border for emphasis */
}

.main-content {
    margin-top: 20px;
}

.headline {
    font-size: 4em; /* Large font size for emphasis */
    font-weight: bold;
    color: #3f51b5; /* Blue color to match profile border */
    margin-bottom: 16px;
}

.intro {
    font-size: 1.2em;
    margin-bottom: 24px;
}

.resume-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
    background-color:#3f51b5;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.resume-button:hover {
    background-color:#3f51b5; /* Darker blue on hover */
}

/* Responsive Design for Tablets */
@media (max-width: 900px) {
    .headline {
        font-size: 3em;
    }
    
    .profile-image {
        width: 120px;
        height: 120px;
    }
}

/* Responsive Design for Mobile */
@media (max-width: 600px) {
    .headline {
        font-size: 2.2em;
    }
    
    .profile-image {
        width: 100px;
        height: 100px;
    }

    .intro {
        font-size: 1em;
    }
    
    .resume-button {
        font-size: 1em;
        padding: 10px 20px;
    }
}
